In [20]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [22]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [24]:
target = df.Survived
inputs = df.drop('Survived',axis='columns')

In [26]:
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [30]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [32]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [34]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head(5)

   Pclass   Age     Fare  female   male
0       3  22.0   7.2500   False   True
1       1  38.0  71.2833    True  False
2       3  26.0   7.9250    True  False
3       1  35.0  53.1000    True  False
4       3  35.0   8.0500   False   True

In [36]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [40]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [42]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(10)

   Pclass        Age     Fare  female   male
0       3  22.000000   7.2500   False   True
1       1  38.000000  71.2833    True  False
2       3  26.000000   7.9250    True  False
3       1  35.000000  53.1000    True  False
4       3  35.000000   8.0500   False   True
5       3  29.699118   8.4583   False   True
6       1  54.000000  51.8625   False   True
7       3   2.000000  21.0750   False   True
8       3  27.000000  11.1333    True  False
9       2  14.000000  30.0708    True  False

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [46]:
len(X_train)

712

In [48]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [50]:
model.fit(X_train,y_train)

GaussianNB()

In [52]:
model.score(X_test,y_test)

0.7486033519553073

In [54]:
X_test[:10]

     Pclass        Age      Fare  female   male
10        3   4.000000   16.7000    True  False
680       3  29.699118    8.1375    True  False
42        3  29.699118    7.8958   False   True
213       2  30.000000   13.0000   False   True
306       1  29.699118  110.8833    True  False
45        3  29.699118    8.0500   False   True
657       3  32.000000   15.5000    True  False
731       3  11.000000   18.7875   False   True
505       1  18.000000  108.9000   False   True
423       3  28.000000   14.4000    True  False

In [56]:
y_test[:10]

10     1
680    0
42     0
213    0
306    1
45     0
657    0
731    0
505    0
423    0
Name: Survived, dtype: int64

In [58]:
model.predict(X_test[:10])

array([1, 1, 0, 0, 1, 0, 1, 0, 1, 1], dtype=int64)

In [60]:
model.predict_proba(X_test[:10])

array([[4.16885342e-02, 9.58311466e-01],
       [6.57219282e-02, 9.34278072e-01],
       [9.92020389e-01, 7.97961122e-03],
       [9.82946104e-01, 1.70538957e-02],
       [2.77439541e-04, 9.99722560e-01],
       [9.92027745e-01, 7.97225513e-03],
       [6.77638738e-02, 9.32236126e-01],
       [9.89512435e-01, 1.04875647e-02],
       [3.30529614e-01, 6.69470386e-01],
       [6.63470282e-02, 9.33652972e-01]])